<!doctype html>
<html lang="@Orchard.CultureName()" dir="ltr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    @* This is required for server-side Blazor. *@
    <base href="@Href("~/")" />

    <title>@RenderTitleSegments(Site.SiteName, "before")</title>

    <style asp-name="bootstrap"></style>
    <script asp-name="bootstrap" at="Foot"></script>

    <resources type="Meta" />
    <resources type="HeadLink" />
    <resources type="Stylesheet" />
    <resources type="HeadScript" />
</head>
<body dir="@Orchard.CultureDir()" class="">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
        <div class="container">
            <a class="navbar-brand" href="@Href("~/")">@Site.SiteName</a>
        </div>
    </nav>

    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                @await RenderSectionAsync("Header", false)

                @await RenderBodyAsync()
            </div>
        </div>
        <hr />
        <footer class="row">
            <div class="col-lg-12">
                @await RenderSectionAsync("Footer", false)
            </div>
        </footer>
    </div>

    @* It includes the blazor.server.js. You can use Orchard Core resource management for this if you have a Blazor base project 
        (i.e. adding a "Blazor" resource for this file). *@
    <script src="_framework/blazor.server.js"></script>

    <resources type="FootScript" />
</body>
</html>